# File e cartelle generati da macOS
.DS_Store
.AppleDouble/

# Cartelle create da macOS
__MACOSX/

# File temporanei creati da macOS
*.swp
*~
.*    # Esclude tutti i file temporanei che iniziano con il punto
